body {
    background-color: pink;
}

header{
    top: 0;
    position:fixed;
    width: 100%;
    background-color: green;
}

footer {
    bottom: 0;
    position:fixed;
    width: 100%;
    background-color: blue;
}